* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainbox .panel2 {
  width: 20rem;
  position: relative;
  height: 10rem;
  padding: 0 0.1875rem 0.5rem;
  border: 1px solid rgba(25, 186, 139, 0.17);
  margin-bottom: 0.1875rem;
}
